# Visual Studio Code
.vscode/

#mongoDb
mongodb_data

# IntelliJ IDEA
.idea/

# Allgemeine Editor-/IDE-Dateien
*.swp
*.swo
*target/

# Betriebssystem- und Systemdateien
.DS_Store
Thumbs.db

# core
core/include/*
*.o
gmon.out

# core
client/core/include/*
*.o
gmon.out

copilot-instructions.md