# Visual Studio Code
.vscode/

#mongoDb
mongodb_data

# IntelliJ IDEA
.idea/

# Allgemeine Editor-/IDE-Dateien
*.swp
*.swo
*target/

# emacs
gmon.out
.gdb_history

# Betriebssystem- und Systemdateien
.DS_Store
Thumbs.db

# core
client/core/include/*
*.o

copilot-instructions.md
